
<style>
    .modal.fade:not(.in) .modal-dialog {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
    }
    .details-bar {
        height: 15px;
        width: 960px;
        background-color: #808080 /*#3699FF*/;
        display: none;
    }
    .details-bar-panel{
        float:left;
    }
    .details-bar-pin-white {
        color: #fff;
        position: relative;
        top: -22px;
        left: -8px;
    }
    .details-bar-pin {
        color: #FFA800;
        position: relative;
        top: -22px;
        left:-8px;
    }
    .details-bar-pin-last {
        color: #FFA800;
        position: relative;
        float: right;
        top: -61px;
        left: 6px;
    }
    .details-bar-inner {
        background-color: red;
        height: 15px;
    }
    .details-bar-starting {
        background-color: #3699FF;
        height: 15px;
    }
    .details-bar-text {
        position: relative;
        top: -9px;
        font-size: 10px;
        display: inherit;
        margin-left: -10px;
        font-weight:bold
    }

</style>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-controller="dashboardController">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Dashborad</h5>
                <!--end::Page Title-->

            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">

            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Dashboard-->

            



    
            <!--begin::Advance Table Widget 5-->
            
            <!--end::Advance Table Widget 5-->
            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>

    
    <!--end::Entry-->
</div>

