

<div id="fundApprovalSetup">
    <div class="modal-header">
        <div class="modal-title">Company Agent </div>
        <div class="header-button-group">
            <div class="btn btn-xs btn-icon btn-danger btn-hover-primary" title="Close" ng-click="closeModal()">X</div>
        </div>
    </div>
    <div class="modal-body">
        <div class="content-panel light">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="float:left">Company Name<span class="required-field">*</span></label>
                        <div class="col-sm-7" style="float:left">
                            <input type="text" class="form-control validator" ng-model="BusinessModel.AgentName" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="float:left">Phone No<span class="required-field">*</span></label>
                        <div class="col-sm-7" style="float:left">
                            <input type="text" class="form-control validator" ng-model="BusinessModel.PhoneNumber" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="float:left">Email</label>
                        <div class="col-sm-7" style="float:left">
                            <input type="text" class="form-control validator" ng-model="BusinessModel.Email" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="float:left">
                            Contact Person Name
                            <span class="required-field">*</span>
                        </label>
                        <div class="col-sm-7" style="float:left">
                            <input type="text" class="form-control validator" ng-model="BusinessModel.ContactPersonName" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="float:left">Company Address</label>
                        <div class="col-sm-7" style="float:left">
                            <input vs-google-autocomplete
                                   ng-model="address.name"
                                   vs-place="address.place"
                                   vs-place-id="address.components.placeId"
                                   vs-street-number="address.components.streetNumber"
                                   vs-street="address.components.street"
                                   vs-city="address.components.city"
                                   vs-state="address.components.state"
                                   vs-country-short="address.components.countryCode"
                                   vs-country="address.components.country"
                                   vs-post-code="address.components.postCode"
                                   vs-district="address.components.district"
                                   vs-latitude="address.components.location.lat"
                                   vs-longitude="address.components.location.long"
                                   type="text"
                                   name="address"
                                   id="address"
                                   class="form-control"
                                   placeholder="Enter address" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="float:left">Office Start Time</label>
                        <div class="col-sm-7" style="float:left">
                            <input type="text" class="form-control validator bs-timepicker" id="officeStartTime"  />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="float:left">Office End Time</label>
                        <div class="col-sm-7" style="float:left">
                            <input type="text" class="form-control validator bs-timepicker" id="officeEndTime" />
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row" style="margin-top:5px">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-5 control-label" style="float:left">Company Address<span class="required-field">*</span></label>
                    <div class="col-sm-7" style="float:left">
                        <textarea class="form-control validator" ng-model="BusinessModel.Address" style="height:120px;" required></textarea>
                    </div>
                </div>
            </div>
        </div>*@
            <div class="row" style="margin-top:5px">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-3 col-form-label" style="float:left">Active:</label>
                        <div class="col-3" style="float:left">
                            <span class="switch switch-icon">
                                <label>
                                    <input type="checkbox" checked="checked" name="select" ng-model="BusinessModel.IsActive" />
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" style="clear: both;">
        <div class="col-sm-12" style="text-align: right;">
            <button type="button" class="btn btn-success" ng-disabled="IsLoading" ng-class="{'spinner spinner-white spinner-right': IsLoading}" ng-click="Save()">{{languageOb.Save}}</button>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        $('.bs-timepicker').timepicker();
    });
    function onChangeEventHandler(event) {
        console.log(event);
    }
</script>

