@using PeopleTrackingApi.Web.Helpers
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-controller="leaveController">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">{{languageOb.Leave}}</h5>
                <!--end::Page Title-->
                <!--begin::Actions-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>

            </div>
            <!--end::Info-->
            <div class="d-flex align-items-center">
                <a class="btn btn-primary font-weight-bolder font-size-sm" style="margin-right:19px;" ng-click="DisplaySickTypes()">Leave Setting</a>
                <a ng-click="ExportToExcel()" class="btn btn-info font-weight-bolder font-size-sm">{{languageOb.ExportToExcel}}</a>
            </div>
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid" id="divWrapper">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Advance Table Widget 5-->
            <div class="card card-custom gutter-b">

                <!--begin::Body-->
                <div class="card-body py-0" style="margin-top:20px;margin-bottom:20px;">
                    <form class="mb-15">
                        <div class="row mb-6">
                            <div class="col-lg-2 mb-lg-0 mb-6">
                                <label>{{languageOb.FromDate}}:</label>
                                <input type="text" class="form-control" id="kt_datepicker_1" ng-model="filterOb.fromDate" readonly="readonly" placeholder="Select date">
                            </div>
                            <div class="col-lg-2 mb-lg-0 mb-6">
                                <label>{{languageOb.ToDate}}:</label>
                                <input type="text" class="form-control" id="kt_datepicker_2" ng-model="filterOb.toDate" readonly="readonly" placeholder="Select date">
                            </div>
                            <div class="col-lg-3 mb-lg-0 mb-6">
                                <label>{{languageOb.EmployeeName}}:</label>
                                <input type="text" class="form-control" ng-model="filterOb.userName" placeholder="Employee Name">
                            </div>
                            <div class="col-lg-3 mb-lg-0 mb-6" style="margin-top:25px">
                                <button class="btn btn-primary btn-primary--icon" id="kt_search" ng-click="GetDataList()">
                                    <span>
                                        <i class="la la-search"></i>
                                        <span>{{languageOb.Search}}</span>
                                    </span>
                                </button>&nbsp;&nbsp;
                                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset" ng-click="resetForm()">
                                    <span>
                                        <i class="la la-close"></i>
                                        <span>{{languageOb.Reset}}</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="table-responsive" ng-init="GetDataList()">
                        <table class="table table-head-custom table-vertical-center">
                            <thead>
                                <tr class="text-uppercase">
                                    <th class="pr-0" style="width:70px;"></th>
                                    <th style="width:180px;">{{languageOb.RequesterName}}</th>
                                    <th style="width:150px;">{{languageOb.FromDate}}</th>
                                    <th style="width:150px;">{{languageOb.ToDate}}</th>
                                    <th style="width:150px;">{{languageOb.LeaveType}}</th>
                                    <th style="width:150px;">{{languageOb.LeaveInDays}}</th>
                                    <th>{{languageOb.LeaveReason}}</th>

                                    <th style="width:100px;" class="text-right">{{languageOb.Status}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="x in DataList|orderBy:sort.column:sort.descending|itemsPerPage:pageSize" pagination-id="employeeGrid">
                                    <td class="pr-0 text-left">
                                        @*<span style="cursor:pointer;color:blue;" ng-click="AddOrEdit(x.Id)">{{languageOb.Details}}</span>*@
                                        <i class="flaticon-eye icon-md" style="cursor:pointer;" ng-click="AddOrEdit(x.Id)" title="{{languageOb.Details}}"></i>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block">{{x.EmployeeName}}</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block">{{x.FromDateVw}}</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block">{{x.ToDateVw}}</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block">{{x.LeaveType}}</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block">{{x.LeaveInDays}}</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block">{{x.LeaveReason}}</span>
                                    </td>

                                    <td class="text-right">
                                        <span class="text-dark-75 font-weight-bolder d-block">
                                            <span class="badge badge-success" ng-if="x.IsApproved">{{x.LeaveStatus}}</span>
                                            <span class="badge badge-warning" ng-if="x.IsRejected">{{x.LeaveStatus}}</span>
                                            <span class="badge badge-primary" ng-if="!x.IsApproved && !x.IsRejected">{{x.LeaveStatus}}</span>
                                        </span>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="pageSize"
                                                 direction-links="true"
                                                 pagination-id="employeeGrid"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>

                    <!--end::Table-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Advance Table Widget 5-->

        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>

<script type="text/javascript">
 
    var KTBootstrapDatepicker = function () {

        var arrows;
        if (KTUtil.isRTL()) {
            arrows = {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            }
        } else {
            arrows = {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            }
        }

        // Private functions
        var demos = function () {
            // minimum setup
            $('#kt_datepicker_1').datepicker({
                rtl: KTUtil.isRTL(),
                todayHighlight: true,
                orientation: "bottom left",
                templates: arrows,
                format: 'd/m/yyyy',
            });
            $('#kt_datepicker_2').datepicker({
                rtl: KTUtil.isRTL(),
                todayHighlight: true,
                orientation: "bottom left",
                templates: arrows,
                format: 'd/m/yyyy',
            });
        }

        return {
            // public functions
            init: function () {
                demos();
            }
        };
    }();

    jQuery(document).ready(function () {
        KTBootstrapDatepicker.init();
    });


</script>